/* VARIABLES:
    guardar valores globales ej color, fuente texto etc, solo puede contener un valor

NOMENCLATURA DE VARIABLES:
        $nombre-de-la-variable: valor
            ej: $color-ppal: red

    lo usas asi en scss:
        .class {
            color: $color-ppal
        } */